[Desktop Entry]
Type=Application
Name=enve
GenericName=2D Animation Software
Comment=A free and open source 2D animation software
Exec=enve
Icon=enve
Categories=Graphics;2DGraphics;RasterGraphics;VectorGraphics;
Keywords=animation;2d;vector;raster;painting;
MimeType=application/x-enve;
StartupNotify=true
