#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	# Build vendored quazip (needed before CMake configure)
	cd third_party/quazip && qmake quazip.pro CONFIG+=release && make -j4 && cd ../..
	dh_auto_configure --builddir=build -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DENVE_USE_SYSTEM_LIBMYPAINT=ON \
		-DENVE_USE_WEBENGINE=OFF \
		-DENVE_USE_QSCINTILLA=OFF \
		-DENVE_USE_GPERFTOOLS=OFF

override_dh_auto_build:
	dh_auto_build --builddir=build

override_dh_auto_test:
	# No test target configured; skip tests during package build

override_dh_auto_install:
	dh_auto_install --builddir=build
	# Install vendored quazip library
	install -Dm644 third_party/quazip/quazip/libquazip.so.1 \
		$(CURDIR)/debian/enve/usr/lib/libquazip.so.1
	ln -sf libquazip.so.1 $(CURDIR)/debian/enve/usr/lib/libquazip.so

override_dh_shlibdeps:
	dh_shlibdeps -- -l$(CURDIR)/debian/enve/usr/lib
